body {
  color: #666;
  position: relative;
  z-index: 1;
}
.site-logo {
  width: 200px;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.btn-sm {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.product {
  text-transform: uppercase;
  font-size: 12px;
}
.product img {
  margin-bottom: 5px;
}
.edc {
  transition: 0.3s;
}

.wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
}
/*
=================================================
SETTINGS
=================================================
*/
.ui-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #000;
}
.settings {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  z-index: 0;
  opacity: 0;
  transition: 0.3s;
}
.settings-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 100px 25px 0 25px;
}
.settings p {
  text-align: left;
  line-height: 28px;
  font-weight: 100;
  font-size: 18px;
}
.settings h1 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
}
.settings h4 {
  color: #999999;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}
